<%= simple_form_for([:admin, @restaurant]) do |f| %>
<!--   <% if @restaurant.errors.any? %>
  <h3>OOps!!!! You have these errors:</h3>
  <ul>
    <% @restaurant.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
 -->
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, collection: ['chinese', 'italian', 'japanese', 'french', 'belgian'], prompt: "Select your age", selected: 21 %>
    <%= f.input :phone_number %>
    <%= f.input :img_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
